@import '../../style/variables.scss';

.navMenu {
    &__menu {
        display: flex;
        justify-content: space-between;
        margin: 30px 0 0 0;
        padding: 0;
    }
    &__list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        width: 122px;
        height: 104px;
        background-color: #fff;
        border-radius: 12px;
        a {
            text-decoration: none;
            font-size: 18px;
            color: #000;
            &:hover {
                color: $main-color;
            }
        }
        &:first-child {
            span {
                color: red;
            }
        }
    }
    &__img {
        margin: 0 auto 8px auto;
        width: 32px;
        height: 32px;
        img {
            width: 100%;
            height: 100%;
        }
    }
    &__active {
        
    }
}