@import './variables.scss';

.button {
    background-color: $main-color;
    border: none;
    min-width: 89px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &__basket {
        border-radius: 4px;
    }
    &__products {
        transition: all .2s linear;
        border-radius: 6px;
        padding: 13px 32px;
        height: 48px;
        color: #fff;
        &:hover {
            box-shadow: 3px 3px 10px #000;
        }
    }
    &__filters {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 13px 32px;
        border: 1px solid #F0F0F0;
        border-radius: 6px;
        &:hover {
            border-color: $main-color;
        }
        span {
            color: #000;
        }
        &-img {
            width: 16px;
            height: 16px;
            margin-right: 8px;
            img {
                width: 100%;
                height: 100%;
            }
        }
        &-count {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            right: -10px;
            bottom: -10px;
            width: 30px;
            height: 30px;
            background-color: #fff;
            border: 1px solid $main-color;
            border-radius: 100%;
        }
    }
    &__addedBasket {
        background-color: #fff;
        color: $main-color;
        border: 1px solid $main-color;
        &:hover {
            position: relative;
            background-color: $main-color;
            color: #fff;
            transition: all .3s linear;
            &::before {
                content: 'Перейти в корзину';
                position: absolute;
                padding: 5px 5px;
                width: 160px;
                height: 40px;
                background-color: $main-color;
                border-radius: 12px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                top: -50px;
                left: 0;
                animation: fade .3s;
                z-index: 1000;
            }
        }
    }
    &:disabled {
        background-color: #fff;
        color: $main-color;
        border: 1px solid $main-color;
        padding: 8px 0;
        cursor: default;
        &:hover {
            box-shadow: none;
        }
    }
}