@import '../../../style/variables.scss';

.popupProduct {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: 1000;
    &__wrapper {
            display: flex;
            width: 1070px;
            height: 680px;
            background-color: #fff;
            border-radius: 24px;
        }
        &__img {
            width: 50%;
            height: 100%;
            padding: 115px 60px;
            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
        &__content {
            position: relative;
            width: 50%;
            height: 100%;
            padding: 32px 20px 88px 20px;
        }
        &__title {
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 16px;
        }
        &__description {
            font-size: 16px;
            margin-bottom: 16px;
        }
        &__buttons {
            width: 100%;
            &-dough {
                position: relative;
                width: 100%;
                height: 48px;
                display: flex;
                margin-bottom: 16px;
                border-radius: 6px;
                border: 1px solid #F0F0F0;
                div {
                    text-align: center;
                    padding: 13px 0;
                    width: 50%;
                    z-index: 10;
                    cursor: pointer;
                }
                &-active {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 50%;
                    border-radius: 6px;
                    background-color: $main-color;
                    transition: all .3s linear;
                    z-index: 9;
                }
            }
            &-size {
                position: relative;
                width: 100%;
                height: 48px;
                display: flex;
                margin-bottom: 24px;
                border-radius: 6px;
                border: 1px solid #F0F0F0;
                div {
                    text-align: center;
                    padding: 13px 0;
                    width: 33.33%;
                    z-index: 10;
                    cursor: pointer;
                }
                &-active {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 33.33%;
                    border-radius: 6px;
                    background-color: $main-color;
                    transition: all .3s linear;
                    z-index: 9;
                }
            }
            &-activeColor {
                color: #fff;
            }
        }
        &__ingredients {
            &-title {
                font-weight: 600;
                font-size: 16px;
                margin-bottom: 16px;
            }
            &-subTitle {
                font-size: 16px;
                text-align: center;
            }
            &-wrapper {
                position: relative;
                display: grid;
                grid: repeat(1, 1fr) / repeat(3, 1fr);
                column-gap: 8px;
                padding: 8px 8px;
                row-gap: 8px;
                grid-auto-rows: 1fr;
                height: 100%;
            }
            &-item {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 100%;
                padding: 8px 8px;
                border: 1px solid #F0F0F0;
                border-radius: 6px;
                cursor: pointer;
                &:hover {
                    border: 1px solid $main-color;
                    transition: all .4s linear;
                }
            }
            &-img {
                margin: 0 auto;
                width: 90px;
                height: 90px;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            &-price {
                justify-self: flex-end;
                text-align: center;
                margin-top: auto;
            }
            &-active {
                border: 1px solid $main-color;
                box-shadow: 2px 2px 7px $main-color;
                transition: all .1s linear;
            }
        }
        &__close {
            position: absolute;
            width: 40px;
            height: 35px;
            right: -60px;
            top: 0;
            cursor: pointer;
            &::before {
                content: '';
                position: absolute;
                top: 15px;
                height: 2px;
                width: 40px;
                transform: rotate(45deg);
                background-color: #fff;
                cursor: pointer;
            }
            &::after {
                content: '';
                position: absolute;
                top: 15px;
                height: 2px;
                width: 40px;
                transform: rotate(-45deg);
                background-color: #fff;
                cursor: pointer;
            }
            &:hover {
                &::before {
                    transition: all .4s linear;
                    background-color: $main-color;
                }
                &::after {
                    transition: all .4s linear;
                    background-color: $main-color;
                }
            }
        }
        &__bottom {
            position: absolute;
            bottom: 20px;
            right: 20px;
            width: calc(100% - 40px);
            height: 68px;
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
            &-price {
                font-size: 20px;
                font-weight: 600;
                color: $main-color;
            }
        }
        &__background {
            visibility: hidden;
            opacity: 0;
            position: fixed;
            width: 100vw;
            height: 100vh;
            right: 0;
            top: 0;
            z-index: 999;
            background-color: rgba(255, 112, 16, .3);
            backdrop-filter: blur(10px);
        }
}

.rcs-inner-handle {
    background-color: rgba(255, 112, 16, .3) !important;
}
.rcs-positioning {
    position: absolute !important;
    right: 0;
}
